#CompanyReviewCreate
	.p-prfrm-content.u-hsm-down
		h1.c-str-26 Create review
		.u-maxw-570.u-mb-40
			p.c-reg-15 This is a menu where the admin can create performance review cycles by setting up reviewee that are reviewed, review schedules, and reviewers who join the collaboration to do employee reviews.

		.p-prfrm-create
			.p-prfrm-create__list.is-open
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Review Information
						.u-maxw-570
							p.c-reg-15 This is first step create review for naming review cycle and setup selected reviewee to review.

					.u-push(v-show="editReview > 1" v-if="reviewStep !== 1")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(1)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/new-icon/icon-edit-grey.svg')
							Span Edit
				//- step 1 (review information form)
				FormReviewInformation(
					v-show="reviewStep == 1"
					@informationSave="informationSave"
					ref="FormInformation"
				)
				//- end step 1 (review information form)

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Questionnaire
						.u-maxw-570
							p.c-reg-15 This is second step create review for choose and setup questionarre template to be use.

					.u-push(v-show="editReview > 2" v-if="reviewStep !== 2")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(2)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/new-icon/icon-edit-grey.svg')
							Span Edit
				FormReviewQuestion(
					v-show="reviewStep == 2"
					@questionSave="questionSave"
				)

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Schedule
						.u-maxw-570
							p.c-reg-15 This is third step create review for setting up timeline schedule review.

					.u-push(v-show="editReview > 3" v-if="reviewStep !== 3")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(3)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/new-icon/icon-edit-grey.svg')
							Span Edit
				//- step 3 (Schedule Form)`
				FormReviewSchedule(
					v-show="reviewStep == 3"
					@scheduleSave="scheduleSave"
				)
				//- end step 3 (Schedule Form)

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Reviewer
						.u-maxw-570
							p.c-reg-15 This is final step create review for setting up review method and choose reviewer that collaborate doing review.

					.u-push(v-show="editReview >= 4" v-if="reviewStep !== 4")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(4)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/new-icon/icon-edit-grey.svg')
							Span Edit
				//- step 4 ( Reviewer form )
				FormReviewReviewer(
					v-if="reviewStep == 4"
					:members_attributes="dataReview.members_attributes"
					ref="FormReviewer"
				)

			//- 	//- end step 4 ( Reviewer form )
			.p-prfrm-create__list
				.c-row
					.c-col-12
						.c-btn-group-wrapper.u-clearfix.u-tar
							.c-btn-group--right
								.c-btn-group--item
									nav.level
										.level-left
											.level-item
												a.c-btn--ghost(@click="showSaveDraft") Save as draft
										.level-right
											.level-item
												router-link(:to="{ name: 'CompanyReview'}").c-btn.c-btn--ghost.c-btn--sm Cancel
												button.c-btn.button.is-primary(:class="reviewStep != 4 ? 'is-disabled':''" @click="submitFormReview") Save and Publish
