#CreateTemplate
	.p-prfrm-content.c-create-template.u-hsm-down
		.p-prfm-header.p-prfm-content--active.p-prfm-content--header
			.control.u-mb-20
				input.input.title(
					type="title"
					placeholder="Untitled template"
					name="title"
				)
			vue-editor(v-model="content"
								 :editorToolbar="customToolbar"
								 placeholder= "Category description"
			)
			.c-btn-group--item
				nav.level
					.level-left
						.level-item
							a.c-btn--ghost.c-smb-15.u-cl-blue Save as new template
					.level-right
						.level-item
							a.c-btn.c-btn--ghost.c-btn--sm Cancel
							button.c-btn.button.is-primary
								span Save
		.p-prfrm-header.u-dn
			a.u-cl-blue(href="")
				img.u-mr-10.u-ml--5(src="@/assets/images/pages/new-icon/icon-arrow-left-blue.svg", alt="")
				span Back to questionnaire
			.c-list__header.is-showonhover
				.c-list__header-detail
					h2.c-str-26.u-mb-14 Company Review Q1
					.u-maxw-570.u-mb-30
						p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
				.c-list__header-action
					a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs
						img.u-mr-10(src="@/assets/images/pages/icon-pencil.svg", alt="")
						Span Edit
		.p-prfrm-create
			.p-prfrm-create__list.c-accordion__panel.is-open
				.p-prfrm-create__list-head.c-accordion__head
					.c-accordion__section-item.p-prfm-content--active.u-dn
						.c-accordion__section-item-content
							.control.u-mb-20
								input.input.title(
									type="text"
									placeholder="Untitled category"
									name="title"
								)
							vue-editor(v-model="content"
												 :editorToolbar="customToolbar"
												 placeholder= "Additional detail about this category..."
							)
							.c-btn-group--item
								nav.level
									.level-left
										.level-item
											.field
												label
													span
														input.c-check__checkbox(
															type="checkbox"
															)
													span.u-ft-reg.u-mr-20 Use weight
													span.u-mr-10
														.control
															input.input.u-w-90.input-weight(
																type="text"
															)
													span.u-ft-reg of 100% weight
									.level-right
										.level-item
											a.c-btn.c-btn--ghost.c-btn--sm Cancel
											button.c-btn.button.is-primary
												span Save
					.c-accordion__section-item
						.c-accordion__title
							h3.c-str-21 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
							p.c-reg-15.u-mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							.c-reg-15.u-cl-slate Weight: 60 of 100%
						.c-accordion__section-item-action
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__icon.icon-minus
				.p-prfrm-create__list-content.c-accordion__body
					.c-accordion__section
						.c-accordion__section-item.p-prfm-content--active
							.c-accordion__section-item-no
								span.u-ft-smb 1
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.control.u-mb-10
									input.input.title-question(
										type="text"
										placeholder="Untitled question"
										name="title"
									)
								vue-editor(v-model="content"
													 :editorToolbar="customToolbar"
													 placeholder= "Question description"
								)
								.c-select.c-select--multiple.u-w-270.u-mb-40
									multiselect(
										v-model="value",
								    :options="options",
								    :searchable="false",
								    :close-on-select="true",
								    :show-labels="false"
								    placeholder="Question type"
									)
								.u-template-scale.u-mb-10
									span.u-mr-30 Scale
									span.u-mr-10 1
									span.u-mr-10
										vue-slider(ref="slider2",
															 v-model="value2",
															 max= 10,
															 width = "200px"
										)
									span 10
								p
									span.u-mr-20.u-cl-slate 1
									span.control
										input.input.label-rating(
											type="text"
											placeholder="Label (optional)"
											name="firstLabel"
										)
								p.u-mb-40
									span.u-mr-20.u-cl-slate 5
									span.control
										input.input.label-rating(
											type="text"
											placeholder="Label (optional)"
											name="lastLabel"
										)
								.field
									label.u-mb-0
										span
											input.c-check__checkbox(
												type="checkbox"
												)
										span.u-ft-reg.u-mr-20 Allow comment
								.c-btn-group--item
									nav.level
										.level-left
											.level-item
												.field
													label
														span
															input.c-check__checkbox(
																type="checkbox"
																)
														span.u-ft-reg.u-mr-20 Use weight
														span.u-mr-10
															.control
																input.input.u-w-90.input-weight(
																	type="text"
																)
														span.u-ft-reg of 100% weight
										.level-right
											.level-item
												a.c-btn.c-btn--ghost.c-btn--sm Cancel
												button.c-btn.button.is-primary
													span Save
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 2
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Quality of work
								.u-maxw-570.u-pt-10
									p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
								.u-cl-slate.u-pt-10 Weight: 30 of 100%
								.p-prfm-rating.u-mt-30
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='1'
										)
										label(:for='1') 1
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='2'
										)
										label(:for='2') 2
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='3'
										)
										label(:for='3') 3
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='4'
										)
										label(:for='4') 4
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='5'
										)
										label(:for='5') 5

								.p-prfrm-comment.is-button.u-mt-30
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer
								.c-accordion__section-item-action
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 3
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Untitled question
								.u-maxw-570.u-pt-10
									p.c-reg-15 Question description
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 4
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Quality of work
								.u-maxw-570.u-pt-10
									p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
								.p-prfrm-comment.is-button.u-mt-30
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer
								.c-accordion__section-item-action
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 5
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Quality of work
								.u-maxw-570.u-pt-10
									p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
								.u-cl-slate.u-pt-10 Weight: 70 of 100%
								.field.u-mt-30
									label
										span.u-mr-10
											.control
												input.input.u-w-90.input-weight(
													type="text"
												)
										span.u-ft-reg from 100%
								.p-prfrm-comment.is-button.u-mt-30
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer
								.c-accordion__section-item-action
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 6
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Quality of work
								.u-maxw-570.u-pt-10
									p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
								.u-mt-30
									b-field
										b-radio-button.radio-button(v-model="radioButton"
											native-value="Yes"
										)
											span Yes
										b-radio-button.radio-button(v-model="radioButton"
											native-value="No"
										)
											span No
								.p-prfrm-comment.is-button.u-mt-30
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer
								.c-accordion__section-item-action
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 7
								span.u-cl-slate /7
							.c-accordion__section-item-content
								.c-smb-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry
								.u-maxw-570.u-pt-10
									p.c-reg-15 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
								.u-cl-slate.u-pt-10 Weight: 30 of 100%
								.p-prfm-rating.u-mt-30
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='1'
										)
										label(:for='1') 1
										p.u-mt-10.u-cl-slate Very bad
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='2'
										)
										label(:for='2') 2
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='3'
										)
										label(:for='3') 3
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='4'
										)
										label(:for='4') 4
									.p-prfm-rating__item
										input(type='radio'
											name='radio-rating'
											:id='5'
										)
										label(:for='5') 5
										p.u-mt-10.u-cl-slate Awesome

								.p-prfrm-comment.is-button.u-mt-30
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer
								.c-accordion__section-item-action
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
									a.c-btn--ghost.c-btn--edit.c-btn--xs
										img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__section-item-line
							hr.u-my-30
							.p-prfm-add-question
								a.c-btn--add__question.u-mr-10
									span.icon-add
										img(src="@/assets/images/pages/icon-add-question.svg")
									span.u-mr-20 Add question
								a.c-btn--add__question
									span.icon-add
										img(src="@/assets/images/pages/icon-category.svg")
									span.u-mr-20 Add category
			.p-prfrm-create__list.c-accordion__panel.is-open
				.p-prfrm-create__list-head.c-accordion__head.u-py-0
					.c-accordion__section-item
						.c-accordion__title
							h3.c-str-21 Work Quality
							p.c-reg-15.u-mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							.c-reg-15.u-cl-slate Weight: 60 of 100%
						.c-accordion__section-item-action
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__icon.icon-minus
					.c-accordion__section-item-line
						hr.u-my-30
						.p-prfm-add-question
							a.c-btn--add__question.u-mr-10
								span.icon-add
									img(src="@/assets/images/pages/icon-add-question.svg")
								span.u-mr-20 Add question
							a.c-btn--add__question
								span.icon-add
									img(src="@/assets/images/pages/icon-category.svg")
								span.u-mr-20 Add category
				.p-prfrm-create__list-content.c-accordion__body.u-dn
					.c-accordion__section
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 3
								span.u-cl-slate /3
							.c-accordion__section-item-content
								.c-smb-15 Untitled question
								.u-maxw-570.u-pt-10
									p.c-reg-15 Question description
			.p-prfrm-create__list.c-accordion__panel.is-open
				.p-prfrm-create__list-head.c-accordion__head.u-py-0
					.c-accordion__section-item
						.c-accordion__title
							h3.c-str-21 Lorem ipsum dolor sit amet
							p.c-reg-15.u-mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							.c-reg-15.u-cl-slate Weight: 60 of 100%
						.c-accordion__section-item-action
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/duplicate.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/edit.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/delete.svg", alt="")
							a.c-btn--ghost.c-btn--edit.c-btn--xs
								img.u-mx-10(src="@/assets/images/pages/move.svg", alt="")
						.c-accordion__icon.icon-minus
					.c-accordion__section-item-line
						hr.u-my-30
						.p-prfm-add-question
							a.c-btn--add__question.u-mr-10
								span.icon-add
									img(src="@/assets/images/pages/icon-add-question.svg")
								span.u-mr-20 Add question
							a.c-btn--add__question
								span.icon-add
									img(src="@/assets/images/pages/icon-category.svg")
								span.u-mr-20 Add category
				.p-prfrm-create__list-content.c-accordion__body.u-dn
					.c-accordion__section
						.c-accordion__section-item
							.c-accordion__section-item-no
								span.u-ft-smb 3
								span.u-cl-slate /3
							.c-accordion__section-item-content
								.c-smb-15 Untitled question
								.u-maxw-570.u-pt-10
									p.c-reg-15 Question description
		.c-btn-group--item
			nav.level
				.level-left
					.level-item
				.level-right
					.level-item
						a.c-btn.c-btn--ghost.c-btn--sm Cancel
						button.c-btn.button.is-primary
							span Save changes