#createReview
	.p-prfrm-content.u-hsm-down
		h1.c-str-26 Create review
		.u-maxw-570.u-mb-40
			p.c-reg-15 This is a menu where the admin can create performance review cycles by setting up reviewee that are reviewed, review schedules, and reviewers who join the collaboration to do employee reviews.
		.p-prfrm-create
			.p-prfrm-create__list.is-open
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Review Information
						.u-maxw-570
							p.c-reg-15 This is first step create review for naming review cycle and setup selected reviewee to review.

					.u-push(v-if="editReview >= 1")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(1)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/icon-pencil.svg')
							Span Edit
				//- step 1 (review information form)
				form(@submit.prevent="validateBeforeSubmit" v-show="reviewStep === 1")
					.p-prfrm-create__list-contents.u-mt-30
						.c-row.u-cpointer
							.c-col-6.jc-tooltip-mark.u-mb-20
								.c-form-group.with-count.jc-inputlimit(:class="{'is-error': errors.has('title') }")
									.field.c-clearfix
										.u-pull
											label.label Review title
												.u-cl-red.u-dib *
										.u-push
											span.u-cl-slate.c-reg-13 {{charactersRemaining}}
										.control
											input.input(
												type="text"
												v-model="dataReview.titles"
												name="title"
												v-validate="'required'"
												maxlength="50")
											span.is-message(v-show="errors.has('title')") {{ errors.first('title') }}

						.c-row.u-cpointer.jc-tooltip(data-content="Input description about this performance review cycle.", data-pos="custom-row")
							.c-col-6.jc-tooltip-mark.u-mb-20
								.c-form-group
									.field(label="Description")
										label.label Description
										.control
											textarea.textarea.is-normal(type="text" v-model="dataReview.description")

						.c-row.u-cpointer.jc-tooltip(data-content="Filtering staff to be reviewed.", data-pos="custom-row")
							.c-col-6.jc-tooltip-mark.u-mb-20
								.field
									label Staff to be reviewed
										.u-cl-red.u-dib *
								.block.u-mb-10
									b-radio(name="radio-reviewee"
										native-value="1"
										v-model="reviewedMethod"
										@change.native="changeMemberSelectedType($event)"
									)
										| Everyone in the company
								.block.u-mb-10
									b-radio(name="radio-reviewee"
										native-value="2"
										v-model="reviewedMethod"
										@change.native="changeMemberSelectedType($event)"
									)
										| By department
								.block.u-mb-10
									b-radio(name="radio-reviewee"
										native-value="3"
										v-model="reviewedMethod"
										@change.native="changeMemberSelectedType($event)"
									)
										| By job title
								.block.u-mb-10
									b-radio(name="radio-reviewee"
										native-value="4"
										v-model="reviewedMethod"
										@change.native="changeMemberSelectedType($event)"
									)
										| Specific staff
						.ju-toggle-review.u-mb-30.review-byOrganization.c-slideToggle-animation(:class="reviewedMethod != 2 ? 'u-dn': '' ")
							.c-row.u-mb-25.u-mx-0
								.c-col-10.u-pl-0
									.field
										label.label Choose department
											.u-cl-red.u-dib *
									.c-select.c-select--multiple
										multiselect.u-w-300(
											v-model="selectedOrganiztionChecked"
											v-validate="'required'"
											:options="selectedOrganization"
											:multiple="true"
											track-by="id"
											label="name"
											placeholder="Search for department"
											data-vv-name="select_reviewee"
											v-if="reviewedMethod == 2"
											hideSelected=true
											@close="selectOrganizationChecked(selectedOrganiztionChecked)"
										)
											template(slot="tag", slot-scope="props")
												span.custom__tag
													| Search for department
											span(slot="noResult")
												| No results found
											div.multiselect__element(slot="afterList" v-if="selectedOrganization.length == selectedOrganiztionChecked.length")
												span.multiselect__option No results found
										span.is-message(v-show="errors.has('select_reviewee')") {{ errors.first('select_reviewee') }}
										.c-select__multiple.u-mt-10
											span.tag.is-blue.is-small.u-mr-3.u-cl-white(v-for="selectedOrganiztion in selectedOrganiztionChecked")
												span {{selectedOrganiztion.name}}
												span
													a.delete.is-small(@click="deleteOrganizationSelect(selectedOrganiztion.id)")
										span.is-message(v-show="errors.has('revieweeCheckbox')") {{ errors.first('revieweeCheckbox') }}
							.c-row.u-mx-0(v-for="organizationMember in selectedOrganizationMember")
								template(v-for="selectedOrganiztionOption in selectedOrganiztionChecked" v-if="selectedOrganiztionOption.id == organizationMember.id")
									nav.level.u-w-100-full
										.level-left
											.level-item
												label.c-smb-18 {{organizationMember.name}}
										.level-right
											.level-item
												a.c-btn--ghost.u-cl-blue.c-btn--xs(@click="selectEveryoneOrganization(organizationMember.id)")
													| Select everyone
												a.c-btn--ghost.u-cl-blue.c-btn--xs.u-ml-20(@click="unselectEveryoneOrganization(organizationMember.id)")
													| Select no one
									.c-list.c-list--staff.u-mt-10
										.c-list--staff__item(v-for="employeeList in employeeMember" v-if="employeeList.organization.id == organizationMember.id")
											label(
												:for="employeeList.id"
												:class="selectedMembers.includes(employeeList.id) == true ? '':'not-checked'"
												)
												.c-avatar-group
													figure.c-avatar.c-avatar--sm.c-avatar--circle
														img.c-img-fluid(src="@/assets/images/avatar-performance/Andy-Bernard.png")
													.c-avatar-text.c-avatar-text--sm
														p.c-smb-15 {{employeeList.user.name}}
														p.c-reg-15.u-cl-slate {{employeeList.job_position.title}}
														p.c-reg-15.u-cl-slate {{employeeList.organization.name}}
												.c-list--staff__action.wrapper-checkbox__default
													input.c-check__checkbox(
														type="checkbox"
														v-model="selectedMembers"
														name="revieweeCheckbox"
														v-validate="'required'"
														data-vv-validate-on="none"
														:value="employeeList.id"
														:id="employeeList.id"
														@change="checkboxMember($event)"
														)
						.ju-toggle-review.u-mb-30.review-byJobTitle.c-slideToggle-animation(:class="reviewedMethod != 3 ? 'u-dn': '' ")
							.c-row.u-mb-25.u-mx-0
								.c-col-10.u-pl-0
									.field
										span.is-message(v-show="errors.has('revieweeCheckbox')") {{ errors.first('revieweeCheckbox') }}
										br
										label.label Choose job title
											.u-cl-red.u-dib *
									.c-select.c-select--multiple
										multiselect.u-w-300(
											v-model="selectedJobTitleChecked"
											v-validate="'required'"
											:options="selectedJobTitle"
											:multiple="true"
											track-by="id"
											label="name"
											placeholder="Search for job title"
											data-vv-name="select_reviewee"
											v-if="reviewedMethod == 3"
											hideSelected=true
											@close="selectJobTitleChecked(selectedJobTitleChecked)"
										)
											template(slot="tag", slot-scope="props")
												span.custom__tag
													| Search for job title
											span(slot="noResult")
												| No results found
											div.multiselect__element(slot="afterList" v-if="selectedJobTitle.length == selectedJobTitleChecked.length")
												span.multiselect__option No results found
										span.is-message(v-show="errors.has('select_reviewee')") {{ errors.first('select_reviewee') }}
										.c-select__multiple.u-mt-10
											span.tag.is-blue.is-small.u-mr-3.u-cl-white(v-for="selectedJobTitles in selectedJobTitleChecked") {{selectedJobTitles.name}}
												a.delete.is-small(@click="deleteJobTitleSelect(selectedJobTitles.id)")
							.c-row.u-mx-0(v-for="jobTitleMember in selectedJobTitleMember")
								template(v-for="selectedJobTitleOption in selectedJobTitleChecked" v-if="selectedJobTitleOption.id == jobTitleMember.id")
									nav.level.u-w-100-full
										.level-left
											.level-item
												label.c-smb-18 {{jobTitleMember.title}}
												//- span.u-ml-20.u-ft-reg {{employeeMember.length}}
										.level-right
											.level-item
												a.c-btn--ghost.u-cl-blue.c-btn--xs(@click="selectEveryoneJobTitle(jobTitleMember.id)")
													| Select everyone
												a.c-btn--ghost.u-cl-blue.c-btn--xs.u-ml-20(@click="unselectEveryoneJobTitle(jobTitleMember.id)")
													| Select no one
									.c-list.c-list--staff.u-mt-10
										.c-list--staff__item(v-for="employeeList in employeeMember" v-if="employeeList.job_position.id == jobTitleMember.id")
											label(
												:for="employeeList.id"
												:class="selectedMembers.includes(employeeList.id) == true ? '':'not-checked'"
												)
												.c-avatar-group
													figure.c-avatar.c-avatar--sm.c-avatar--circle
														img.c-img-fluid(src="@/assets/images/avatar-performance/Andy-Bernard.png")
													.c-avatar-text.c-avatar-text--sm
														p.c-smb-15 {{employeeList.user.name}}
														p.c-reg-15.u-cl-slate {{employeeList.job_position.title}}
														p.c-reg-15.u-cl-slate {{employeeList.organization.name}}
												.c-list--staff__action.wrapper-checkbox__default
													input.c-check__checkbox(
														type="checkbox"
														v-model="selectedMembers"
														name="revieweeCheckbox"
														v-validate="'required'"
														data-vv-validate-on="none"
														:value="employeeList.id"
														:id="employeeList.id"
														@change="checkboxMember($event)"
														)
						.ju-toggle-review.u-mb-30.review-byStaff.c-slideToggle-animation(:class="reviewedMethod != 4 ? 'u-dn': '' ")
							.c-row.u-mb-25.u-mx-0
								.field
									span.is-message(v-show="errors.has('revieweeCheckbox')") {{ errors.first('revieweeCheckbox') }}
									br
									label.label Choose staff
										.u-cl-red.u-dib *
								nav.level.u-w-100-full
									.level-left
										.level-item
											.c-select.c-select--multiple
												multiselect.u-w-300(
													v-model="selectReviewedMembers"
													v-validate="'required'"
													:options="reviewedMember"
													:multiple="true"
													track-by="id"
													label="name"
													placeholder="Search for staff"
													data-vv-name="select_reviewee"
													v-if="reviewedMethod == 4"
													hideSelected=true
													@input="reviewedSelectMemberId",
												)
													template(slot="tag", slot-scope="props")
														span.custom__tag
															| Search for staff
													span(slot="noResult")
														| No results found
													div.multiselect__element(slot="afterList" v-if="reviewedMember.length == selectReviewedMembers.length")
														span.multiselect__option No results found
												span.is-message(v-show="errors.has('select_reviewee')") {{ errors.first('select_reviewee') }}
									.level-right(v-if="selectReviewedMembers.length > 0")
										.level-item
											a.c-btn--ghost.u-cl-blue.c-btn--xs(@click="selectSpecificStaff(selectReviewedMembers)")
												| Select everyone
											a.c-btn--ghost.u-cl-blue.c-btn--xs.u-ml-20(@click="unselectSpecificStaff()")
												| Select no one
								.c-list.c-list--staff.u-mt-10
									.c-list--staff__item(v-for="employeeList in selectReviewedMembers")
										label(
										:for="employeeList.id"
										:class="selectedMembers.includes(employeeList.id) == true ? '':'not-checked'"
											)
											.c-avatar-group
												figure.c-avatar.c-avatar--sm.c-avatar--circle
													img.c-img-fluid(src="@/assets/images/avatar-performance/Andy-Bernard.png")
												.c-avatar-text.c-avatar-text--sm
													p.c-smb-15 {{employeeList.name}}
													template(v-for="employeeDataDetail in employeeMember" v-if="employeeDataDetail.id == employeeList.id")
														p.c-reg-15.u-cl-slate {{employeeDataDetail.job_position.title}}
														p.c-reg-15.u-cl-slate {{employeeDataDetail.organization.name}}
											.c-list--staff__action.wrapper-checkbox__default
												input.c-check__checkbox(
													type="checkbox"
													v-model="selectedMembers"
													name="revieweeCheckbox"
													v-validate="'required'"
													data-vv-validate-on="none"
													:value="employeeList.id"
													:id="employeeList.id"
													@change="checkboxMember($event)"
													)
						ButtonFooter
				//- end step 1 (review information form)

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Questionnaire
						.u-maxw-570
							p.c-reg-15 This is second step create review for choose and setup questionarre template to be use.

					.u-push(v-if="editReview >= 2")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(2)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/icon-pencil.svg')
							Span Edit
				form(@submit.prevent="validateBeforeSubmit" v-show="reviewStep === 2")
					.p-prfrm-create__list-contents.u-mt-30
						.c-row.u-cpointer
							.c-col-6
								.c-form-group.u-dib.u-mb-0
									label Select template
										.u-cl-red.u-dib *
						.c-row.u-mb-20
							.c-col-12
								.p-prfrm-templatelist
									b-tooltip.p-prfrm-templatelist__item-wrapper(label="Not available"
														type="is-dark"
									)
										a.p-prfrm-templatelist__item.is-new
											img(src="@/assets/images/pages/icon-add-blue.svg", alt="")
											span.u-ml-24 New template
									.p-prfrm-templatelist__item-wrapper(v-for="(template, index) in templates")
										b-radio.p-prfrm-templatelist__item(
											name="radio-review-template"
											:native-value="template.uuid"
											:id="template.uuid"
											v-model="selectedTemplate"
											@change.native="getDetailTemplate(template.uuid)"
											:class="selectedTemplate.includes(template.uuid) == true ? 'is-checked':''"
										)
											.p-prfrm-templatelist__item-name {{template.name}}
											h5.c-reg-13.u-mb-60 {{template.used}} review(s) using this template
											.p-prfrm-templatelist__item-action
												nav.level
													.level-left
														.level-item
															router-link(
																:to="{ name: 'PreviewTemplate', params: {uuid: template.uuid} }"
																target="_blank"
																)
																img(src="@/assets/images/pages/icon-preview-grey.svg", alt="")
															a.u-ml-20(href="")
																img(src="@/assets/images/pages/icon-pencil.svg", alt="")
													.level-right
														.level-item
															b-dropdown.custom-popover(position="is-top-left")
																a.c-btn--ghost.c-btn--xs.icon-delete(slot="trigger" @click="dropDownPosition($event)" v-if="template.used ==0")
																	img(src="@/assets/images/pages/icon-delete-grey.svg", alt="")
																b-dropdown-item
																	h3.c-smb-15.u-mb-20 Delete confirmation
																	p.c-smb-15 Are you sure to delete this template?
																	.u-mt-40
																		a.c-btn.button.c-btn--ghost.u-br-none.u-mx-5.is-transparant No
																		a.c-btn.button.is-danger.u-mx-5(@click.prevent="deleteTemplate(template.uuid, index)") Yes

						//- end step 2 ( Questionare form )
						//- button save
						ButtonFooter

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Schedule
						.u-maxw-570
							p.c-reg-15 This is third step create review for setting up timeline schedule review.

					.u-push(v-if="editReview >= 3")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(3)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/icon-pencil.svg')
							Span Edit
				//- step 3 (Schedule Form)`
				form(@submit.prevent="validateBeforeSubmit", v-show="reviewStep === 3")
					.p-prfrm-create__list-contents.u-mt-30
					.c-row.u-cpointer.jc-tooltip(data-content="Select an option, how the review cycle is run.", data-pos="custom-row")
						.c-col-6.jc-tooltip-mark
							.c-form-group
								.field
									label How often will the review run?
									.u-cl-red.u-dib *
								.ju-toggle-l(data-triggertype="radio")
									.c-check__group
										.block.u-mb-10
											b-radio(
												name="radio-review-schedule"
												native-value="0"
												v-model="dataReview.is_repeat"
												@change.native="isRepeat($event)"
											)
												| Once
										.block.u-mb-10
											b-radio(
												name="radio-reviewee-schedule"
												native-value="1"
												v-model="dataReview.is_repeat"
												@change.native="isRepeat($event)"
											)
												| Repeat

					.ju-togglelc-scheduleRepeat.u-mt-10
						.c-row.u-cpointer
							.u-mb-20.c-col-4.c-slideToggle-animation(:class="dataReview.is_repeat != 1 ? 'u-dn':''")
								.field
									label.label.u-db Repeat every
										span.u-cl-red *
									.control.u-dib
										span.u-maxw-170
											input.input(
												v-if="dataReview.is_repeat == 1"
												type="text"
												name="is_repeat_every"
												maxlength="2"
												v-model="dataReview.repeat_every"
												v-validate="'required|between:1,12'"
											)
										span.u-ml-10.c-reg-15
											| Month
									br
									span.is-message.c-reg-14.u-cl-red(v-show="errors.has('is_repeat_every')") {{ errors.first('is_repeat_every') }}

						.c-row.u-cpointer
							.u-mb-20.c-col-5
								.field
									label.label Start date
										span.u-cl-red *
									.control.u-maxw-170.has-icons-right.dropdown-datepicker
										b-datepicker(
											placeholder="Choose date"
											v-model="dataReview.review_start_date"
											@input="changeStartDate"
											)
										span.icon.is-small.is-right
											i.icon-calendar
												img.c-calendar__icon(src="@/assets/images/pages/icon-calendar.svg", alt="icon-calendar")

						.c-row.u-cpointer
							.c-col-4
								.field
									label.label.u-db Review due
										span.u-cl-red *
									.control.u-dib
										span.u-maxw-170
											input.input(type="text", name="review_due", v-validate="'required|between:1,30'", maxlength="2", v-model="review.deadline" @change="changeReviewDue")
											span.is-message.c-reg-14.u-cl-red(v-show="errors.has('review_due')") {{ errors.first('review_due') }}
										span.c-reg-15.u-ml-10.c-wrapper-text-left
											| Days after review start
											p.u-ft-smb.c-reg-15(v-if="review.deadline") {{dataReview.review_end_date | moment("DD MMM YYYY")}}
											p.u-ft-smb.c-reg-15(v-if="!review.deadline") Nan
					ButtonFooter
				//- end step 3 (Schedule Form)

			.p-prfrm-create__list
				.p-prfrm-create__list-head.u-clearfix
					.u-pull
						h3.c-str-21 Reviewer
						.u-maxw-570
							p.c-reg-15 This is final step create review for setting up review method and choose reviewer that collaborate doing review.

					.u-push(v-if="editReview >= 4")
						a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs(@click.prevent="editReviewStep(4)")
							img.u-mr-10.u-mb-4(src='@/assets/images/pages/icon-pencil.svg')
							Span Edit
				//- step 4 ( Reviewer form )
				form(@submit.prevent="validateBeforeSubmit", v-show="reviewStep === 4")
					.p-prfrm-create__list-contents.u-mt-30
						.c-row
							.c-col-6
								.c-form-group.u-dib
									.field
										label Who will conduct the review?
											.u-cl-red.u-dib *
									.u-dib.ju-toggle-l(data-triggertype="radio")
										.c-check__group
											.block.u-mb-10
												b-radio(name="radio-reviewer"
													native-value="direct-report"
													v-model="dataReview.review_method"
													@change.native="changeReviewMehtod($event)"
												)
													| Direct report
											.block.u-mb-10
												b-radio(name="radio-reviewer"
													native-value="manager-review"
													v-model="dataReview.review_method"
													@change.native="changeReviewMehtod($event)"
												)
													| Employee's manager
											.block.u-mb-10
												b-radio(name="radio-reviewer"
													native-value="360"
													v-model="dataReview.review_method"
													@change.native="changeReviewMehtod($event)"
												)
													| 360 peer review
						.ju-toggle-directReview.u-mt-40.c-list--review(:class="dataReview.review_method != 'direct-report' ? 'u-dn': '' ")
							.c-row
								template(v-for="(dataMember, item) in dataReview.members")
									.c-col-12
										.c-row
											template
												.c-col-4.c-col-md-4
													p.u-ft-smb.u-mb-10 Reviewee
													template(v-for="member in employeeMember" v-if="member.id == dataMember.user_id")
														.c-avatar-group
															figure.c-avatar.c-avatar--xs.c-avatar--circle
																img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
															.c-avatar-text.c-avatar-text--xs
																.c-smb-15 {{member.user.name}}
																.c-reg-15.u-cl-slate {{member.job_position.title}}
												.c-col-8.c-col-md-8
													.c-list.c-list--reviewer(:class="dataMember.is_sequent == 1 ? 'is-sequential':''")
														.c-list--reviewer__item.is-label
															.c-list--reviewer__name
																label.u-ft-smb Reviewer
															.c-list--reviewer__weight
																label.u-ft-smb Weight remain: {{dataMember.weightRemaining}}%
															.c-list--reviewer__action
														.c-list--reviewer__item(v-for="dataReviewer in dataMember.reviewers")
															.c-list--reviewer__name
																.c-avatar-group
																	figure.c-avatar.c-avatar--xs.c-avatar--circle
																			img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
																	.c-avatar-text.c-avatar-text--xs
																		.c-smb-15 {{dataReviewer.user.name}}
																		.c-reg-15.u-cl-slate {{dataReviewer.job_position.title}}
															.c-list--reviewer__weight(v-if="dataReviewer.user_id != dataMember.user_id")
																.field.u-w-80
																	p.control.has-icons-right
																		input.input(
																			type="text"
																			name="weight"
																			maxlength="3"
																			v-model="dataReviewer.is_weight"
																			v-validate="'between:1,100'"
																			@change="weightRemaining(dataReviewer, dataMember)"
																			)
																		span.icon.is-small.is-right
																			i.icon-percent
																				| &#37;
																	span.is-message.c-reg-14.u-cl-red(v-show="errors.has('weight')") {{ errors.first('weight') }}
															.c-list--reviewer__action
																a.c-btn--ghost.c-btn--xs(@click="removeReviewer(dataMember, dataReviewer)" v-if="dataReviewer.user_id != dataMember.user_id")
																	b-tooltip(
																		label="Remove"
																		position="is-top"
																		type="is-dark"
																	)
																		| &times;
														.c-list--reviewer__item-select
															.u-w-270
																.c-select.c-select--multiple.u-mb-10
																	multiselect(
																		v-model="moreReviewerMember",
																		deselect-label="Can't remove this value",
																		track-by="name",
																		label="name",
																		placeholder="Search for staff",
																		:show-labels="false"
																		:options="moreReviewerSelect",
																		:searchable="true",
																		:allow-empty="false",
																		:hide-selected="true"
																		@open="setOptionReviewer(dataMember)"
																		@close="addReviewer(dataMember.reviewers, moreReviewerMember, dataMember)"
																	)
																		span(slot="noResult")
																			| No results found
																		div.multiselect__element(slot="afterList" v-if="moreReviewerSelect.length == moreReviewerMember.length")
																			span.multiselect__option No results found
																.field
																	label
																		span
																			input.c-check__checkbox(
																				type="checkbox"
																				v-model="dataMember.is_self_review"
																				:true-value= "1"
																				:false-value= "0"
																				@change="selfReview(dataMember)"
																				)
																		span.u-ft-reg Self review
																			b-tooltip(label="Reviewee will do a review of itself, but all the answers will not be calculated at the final score."
																				type="is-dark"
																				position="is-top"
																			)
																				img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")
																.field(v-if="dataMember.reviewers && dataMember.reviewers.length > 1")
																	label
																		span
																			input.c-check__checkbox(
																				type="checkbox"
																				v-model="dataMember.is_sequent"
																				:true-value= "1"
																				:false-value= "0"
																				)
																		span.u-ft-reg Sequential review
																			b-tooltip(label="All reviewer will be sequence to review reviewee and if there is self review enable then priority of sequence review will prioritize the self review before all the reviewers do it."
																				type="is-dark"
																				position="is-top"
																			)
																				img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")

						.ju-toggle-managerReview.u-mt-40.c-list--review(:class="dataReview.review_method != 'manager-review' ? 'u-dn': '' ")
							.c-row
								template(v-for="dataMember in dataReview.members")
									.c-col-12
										.c-row
											template
												.c-col-4.c-col-md-4
													p.u-ft-smb.u-mb-10 Reviewee
													template(v-for="member in employeeMember" v-if="member.id == dataMember.user_id")
														.c-avatar-group
															figure.c-avatar.c-avatar--xs.c-avatar--circle
																img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
															.c-avatar-text.c-avatar-text--xs
																.c-smb-15 {{member.user.name}}
																.c-reg-15.u-cl-slate {{member.job_position.title}}
												.c-col-8.c-col-md-8
													.c-list.c-list--reviewer(:class="dataMember.is_sequent == 1 ? 'is-sequential':''")
														.c-list--reviewer__item.is-label
															.c-list--reviewer__name
																label.u-ft-smb Reviewer
															.c-list--reviewer__weight
																label.u-ft-smb Weight remain: {{dataMember.weightRemaining}}%
															.c-list--reviewer__action
														.c-list--reviewer__item(v-for="dataReviewer in dataMember.reviewers")
															.c-list--reviewer__name
																.c-avatar-group
																	figure.c-avatar.c-avatar--xs.c-avatar--circle
																			img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
																	.c-avatar-text.c-avatar-text--xs
																		.c-smb-15 {{dataReviewer.user.name}}
																		.c-reg-15.u-cl-slate {{dataReviewer.job_position.title}}
															.c-list--reviewer__weight(v-if="dataReviewer.user_id != dataMember.user_id")
																.field.u-w-80
																	p.control.has-icons-right
																		input.input(
																			type="text"
																			name="weight"
																			maxlength="3"
																			:disabled="dataReviewer.user_id == dataMember.user_id"
																			v-model="dataReviewer.is_weight"
																			v-validate="'between:1,100'"
																			@change="weightRemaining(dataReviewer, dataMember)"
																			)
																		span.icon.is-small.is-right
																			i.icon-percent
																				| &#37;
																	//- span.is-message.c-reg-14.u-cl-red(v-show="errors.has('weight')") {{ errors.first('weight') }}
															.c-list--reviewer__action
																a.c-btn--ghost.c-btn--xs(@click="removeReviewer(dataMember, dataReviewer)" v-if="dataReviewer.user_id != dataMember.user_id")
																	b-tooltip(
																		label="Remove"
																		position="is-top"
																		type="is-dark"
																	)
																		| &times;
														.c-list--reviewer__item-select
															.u-w-270
																.c-select.c-select--multiple.u-mb-10
																	multiselect(
																		v-model="moreReviewerMember",
																		deselect-label="Can't remove this value",
																		track-by="name",
																		label="name",
																		placeholder="Staff",
																		:show-labels="false"
																		:options="moreReviewerSelect",
																		:searchable="true",
																		:allow-empty="false",
																		:hide-selected="true"
																		@open="setOptionReviewer(dataMember)"
																		@close="addReviewer(dataMember.reviewers, moreReviewerMember, dataMember)"
																	)
																		span(slot="noResult")
																			| No results found
																		div.multiselect__element(slot="afterList" v-if="moreReviewerSelect.length == moreReviewerMember.length")
																			span.multiselect__option No results found
																.field
																	span
																		input.c-check__checkbox(
																				type="checkbox"
																				v-model="dataMember.is_self_review"
																				:true-value= "1"
																				:false-value= "0"
																				@change="selfReview(dataMember)"
																				)
																	span.u-ft-reg Self review
																		b-tooltip(label="Reviewee will do a review of itself, but all the answers will not be calculated at the final score."
																			type="is-dark"
																			position="is-top"
																		)
																			img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")
																.field(v-if="dataMember.reviewers && dataMember.reviewers.length > 1")
																	span
																		input.c-check__checkbox(
																			type="checkbox"
																			v-model="dataMember.is_sequent"
																			:true-value= "1"
																			:false-value= "0"
																			)
																	span.u-ft-reg Sequential review
																		b-tooltip(label="All reviewer will be sequence to review reviewee and if there is self review enable then priority of sequence review will prioritize the self review before all the reviewers do it."
																			type="is-dark"
																			position="is-top"
																		)
																			img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")

						.ju-toggle-360Review.u-mt-40.c-list--review(:class="dataReview.review_method != '360' ? 'u-dn': '' ")
							.c-row
								template(v-for="dataMember in dataReview.members")
									.c-col-12
										.c-row
											.c-col-4.c-col-md-4
												p.u-ft-smb.u-mb-10 Reviewee
												template(v-for="member in employeeMember" v-if="member.id == dataMember.user_id")
													.c-avatar-group
														figure.c-avatar.c-avatar--xs.c-avatar--circle
															img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
														.c-avatar-text.c-avatar-text--xs
															.c-smb-15 {{member.user.name}}
															.c-reg-15.u-cl-slate {{member.job_position.title}}
											.c-col-8.c-col-md-8
												.c-list.c-list--reviewer
												.c-list--reviewer__item.is-label
													.c-list--reviewer__name
														label.u-ft-smb Reviewer
													.c-list--reviewer__weight
														label.u-ft-smb Weight remain: {{dataMember.weightRemaining}}%
													.c-list--reviewer__action

												.c-list--reviewer__item(v-for="dataReviewer in dataMember.reviewers")
													.c-list--reviewer__name
														.c-avatar-group
															figure.c-avatar.c-avatar--xs.c-avatar--circle
																	img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
															.c-avatar-text.c-avatar-text--xs
																.c-smb-15 {{dataReviewer.user.name}}
																.c-reg-15.u-cl-slate {{dataReviewer.job_position.title}}
													.c-list--reviewer__weight(v-if="dataReviewer.user_id != dataMember.user_id")
														.field.u-w-80
															p.control.has-icons-right
																input.input(
																	type="text"
																	name="weight"
																	maxlength="3"
																	:disabled="dataReviewer.user_id == dataMember.user_id"
																	v-model="dataReviewer.is_weight"
																	v-validate="'between:1,100'"
																	@change="weightRemaining(dataReviewer, dataMember)"
																	)
																span.icon.is-small.is-right
																	i.icon-percent
																		| &#37;
															//- span.is-message.c-reg-14.u-cl-red(v-show="errors.has('weight')") {{ errors.first('weight') }}
													.c-list--reviewer__action
														a.c-btn--ghost.c-btn--xs(@click="removeReviewer(dataMember, dataReviewer)" v-if="dataReviewer.user_id != dataMember.user_id")
															b-tooltip(label="Remove"
																position="is-top"
																type="is-dark"
															)
																| &times;
												.c-list--reviewer__item-select
													.u-w-270
														.c-select.c-select--multiple.u-mb-10
															multiselect(
																v-model="moreReviewerMember",
																deselect-label="Can't remove this value",
																track-by="name",
																label="name",
																placeholder="Staff",
																:show-labels="false"
																:options="moreReviewerSelect",
																:searchable="true",
																:allow-empty="false",
																:hide-selected="true"
																@open="setOptionReviewer(dataMember)"
																@close="addReviewer(dataMember.reviewers, moreReviewerMember, dataMember)"
															)
																span(slot="noResult")
																	| No results found
																div.multiselect__element(slot="afterList" v-if="moreReviewerSelect.length == moreReviewerMember.length")
																	span.multiselect__option No results found
														.field
															span
																input.c-check__checkbox(
																	type="checkbox"
																	v-model="dataMember.is_self_review"
																	:true-value= "1"
																	:false-value= "0"
																	@change="selfReview(dataMember)"
																	)
															span.u-ft-reg Self review
																b-tooltip(label="Reviewee will do a review of itself, but all the answers will not be calculated at the final score."
																	type="is-dark"
																	position="is-top"
																)
																	img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")
														.field(v-if="dataMember.reviewers && dataMember.reviewers.length > 1")
															//- span
																input.c-check__checkbox(
																	type="checkbox"
																	v-model="dataMember.is_sequent"
																	:true-value= "1"
																	:false-value= "0"
																	)
															//- span.u-ft-reg Sequential review
																b-tooltip(label="All reviewer will be sequence to review reviewee and if there is self review enable then priority of sequence review will prioritize the self review before all the reviewers do it."
																	type="is-dark"
																	position="is-top"
																)
																	img.u-ml-10.u-vam(src="@/assets/images/pages/icon-help.svg", alt="", data-content="Lorem ipsum")

				//- end step 4 ( Reviewer form )
			.p-prfrm-create__list
				.c-row
					.c-col-12
						.c-btn-group-wrapper.u-clearfix.u-tar
							.c-btn-group--right
								.c-btn-group--item
									nav.level
										.level-left
											.level-item
												a.c-btn--ghost.c-btn--sm(@click="showSaveDraft") Save as draft
										.level-right
											.level-item
												router-link(:to="{ name: 'Company'}").c-btn.c-btn--ghost.c-btn--sm(data-type="confirmation") Cancel
												button.c-btn.button.is-primary(:class="reviewStep != 4 ? 'is-disabled':''" @click="submitFormReview") Save and Publish
